{% extends 'base.html' %}

{% block title %}Add A Pet{% endblock %}

{% block content %}
<h1 class="text-center display-3">Add a Pet</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != "hidden" %}
        <div class="form-group">
          {{field.label}}
          {{field (class_="form-control")}}

          {% for err in field.errors %}
          <small class="form-text text-danger">
            {{err}}
          </small>
          {% endfor %}
        </div>

        {% endfor %}
        <button class="btn btn-success">Submit</button>
        <a href="/" class="btn btn-danger">Go Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}